$red: #c94444
$dark: #353535
$mediumFontSize: 24px
$boldFont: 'brandon_grotesque_boldregular'
$mediumFont: 'brandon_grotesque_mediumRg'
$lightGray: #bbb
$white: #eee

*
  box-sizing: border-box

body
  background-color: #eee
  margin: 0
  padding: 0
  font-family: $boldFont, sans-serif

#page
  background-color: $white
  font-family: $boldFont, sans-serif
  max-width: 960px
  margin: 0 auto
  @extend .clearfix

a
  text-decoration: none


.wrapper
  max-width: 960px
  margin: auto
  padding: 0 32px 0 32px
  @extend .clearfix

header
  background-color: #c94444
  color: #eee
  height: 120px

.view-select
  float: right
  background-color: #353535
  text-align: center
  padding: 13px 0 0 0
  width: 112px
  height: 44px
  border-radius: 6px
  font-family: $boldFont, sans-serif
  margin-top: 37px

a.view-select
  color: #eee
  text-decoration: none

.change-icon
  width: 12px
  height: 18px
  background: url(img/arrows.png)
  display: inline-block
  margin-left: 8px
  position: relative
  top: 3px

h1
  font-size: 60px
  font-family: $boldFont, sans-serif
  margin: 0
  position: relative
  top: 40px
  float: left

.sorting-types
  background-color: #dfdfdf
  height: 64px
  text-align: center
  margin-bottom: 20px

.sorting
  position: relative
  top: 22px
  display: inline-block
  color: #bbb
  margin: 0 6%
  &:first-child
    margin: 0 6% 0 0
  &:last-child
    margin: 0 0 0 6%

.sort-selected
  color: #353535

.movie
  margin: 20px 0
  @extend .clearfix

  &.not-available
    display: none

    .fontello-play-circle
      opacity: .1
      color: $dark

      &:hover
        color: $dark
  
  &.available

    .fontello-play-circle
      color: $red
      font-size: 32px
    
      &:hover
        color: $dark

  &:hover
    .description
      color: $dark !important

  div
    float: left

  .rank
    font-size: 20px
    width: 5%
    text-align: center
    margin-top: 52px

  .box-art
    width: 10%

  .details
    width: 83%
    margin-left: 15px

    .header
      width: 100%
      height: 60px

      .title
        color: $red
        float: left
        font-size: $mediumFontSize
        line-height: 30px
        max-width: 500px

      .meta
        float: right

        div
          display: inline-block
          margin-left: 20px

        .duration
          font-size: $mediumFontSize
          line-height: 30px
          font-family: $mediumFont, sans-serif
          color: $lightGray

        .rating
          font-family: $mediumFont, sans-serif
          background-color: $dark
          color: $white
          font-size: 12px
          height: 18px
          width: 50px
          text-align: center
          margin-top: 6px
          border-radius: 6px

        .fontello-play-circle
          font-size: 32px

    .description
      font-family: $mediumFont, sans-serif
      color: $lightGray
      vertical-align: bottom
      display: block
      font-size: 18px
      line-height: 24px
      height: 72px
      overflow: hidden

.clearfix::before, .clearfix::after
  display: table
  content: ""
  line-height: 0

.clearfix::after
  clear: both